<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./banner.css">
</head>
<body>
    <section class="breadcrumbs">
        <div class="banner-area" style="background-image: url(../../assets/images/banner.jpg);">
            <h1>
                Delivering best food in the town
            </h1>
        </div>
    </section>
</body>
</html>