<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link rel="stylesheet" href="./menu.css">
</head>
<body>
     <section class="menu">
         <h1>Our menu</h1>
         <div class="food-cart">
            
            <div class="food-menu">
                 <div class="momo">
                    <div class="show-food">
                        <div class="main-food">
                            <img src="../../assets/images/foods/momo/momo.png" alt="">
                            <h4>Mo:MO</h4>
                        </div>
                    </div>
                        <div class="all-food">
                            <div class="food-types">
                                <div class="food">
                                    <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                    <div class="food-detail">
                                        <h3>Jhol Momo</h3>
                                        <p>Rs 190/-</p>
                                        <a href="#" class="button">Add to cart</a>
                                    </div>
                                    
                                </div>
                                <div class="food">
                                    <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                    <div class="food-detail">
                                        <h3>Jhol Momo</h3>
                                        <p>Rs 190/-</p>
                                        <a href="#" class="button">Add to cart</a>
                                    </div>
                                    
                                </div>
                                <div class="food">
                                    <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                    <div class="food-detail">
                                        <h3>Jhol Momo</h3>
                                        <p>Rs 190/-</p>
                                        <a href="#" class="button">Add to cart</a>
                                    </div>
                                    
                                </div>
                                <div class="food">
                                    <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                    <div class="food-detail">
                                        <h3>Jhol Momo</h3>
                                        <p>Rs 190/-</p>
                                        <a href="#" class="button">Add to cart</a>
                                    </div>
                                    
                                </div>
                                <div class="food">
                                    <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                    <div class="food-detail">
                                        <h3>Jhol Momo</h3>
                                        <p>Rs 190/-</p>
                                        <a href="#" class="button">Add to cart</a>
                                    </div>
                                    
                                </div>
                                <div class="food">
                                    <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                    <div class="food-detail">
                                        <h3>Jhol Momo</h3>
                                        <p>Rs 190/-</p>
                                        <a href="#" class="button">Add to cart</a>
                                    </div>
                                    
                                </div>
                                <div class="food">
                                    <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                    <div class="food-detail">
                                        <h3>Jhol Momo</h3>
                                        <p>Rs 190/-</p>
                                        <a href="#" class="button">Add to cart</a>
                                    </div>
                                    
                                </div>
                                <div class="food">
                                    <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                    <div class="food-detail">
                                        <h3>Jhol Momo</h3>
                                        <p>Rs 190/-</p>
                                        <a href="#" class="button">Add to cart</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                 </div>
                 <hr>
                 <div class="pizza">
                    <div class="all-food">
                        <div class="food-types">
                            <div class="food">
                                <img src="../../assets/images/foods/pizza/pizza.png" alt="">
                                <div class="food-detail">
                                    <h3>Jhol Momo</h3>
                                    <p>Rs 190/-</p>
                                    <a href="#" class="button">Add to cart</a>
                                </div>
                                
                            </div>
                            <div class="food">
                                <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                <div class="food-detail">
                                    <h3>Jhol Momo</h3>
                                    <p>Rs 190/-</p>
                                    <a href="#" class="button">Add to cart</a>
                                </div>
                                
                            </div>
                            <div class="food">
                                <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                <div class="food-detail">
                                    <h3>Jhol Momo</h3>
                                    <p>Rs 190/-</p>
                                    <a href="#" class="button">Add to cart</a>
                                </div>
                                
                            </div>
                            <div class="food">
                                <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                <div class="food-detail">
                                    <h3>Jhol Momo</h3>
                                    <p>Rs 190/-</p>
                                    <a href="#" class="button">Add to cart</a>
                                </div>
                                
                            </div>
                            <div class="food">
                                <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                <div class="food-detail">
                                    <h3>Jhol Momo</h3>
                                    <p>Rs 190/-</p>
                                    <a href="#" class="button">Add to cart</a>
                                </div>
                                
                            </div>
                            <div class="food">
                                <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                <div class="food-detail">
                                    <h3>Jhol Momo</h3>
                                    <p>Rs 190/-</p>
                                    <a href="#" class="button">Add to cart</a>
                                </div>
                                
                            </div>
                            <div class="food">
                                <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                <div class="food-detail">
                                    <h3>Jhol Momo</h3>
                                    <p>Rs 190/-</p>
                                    <a href="#" class="button">Add to cart</a>
                                </div>
                                
                            </div>
                            <div class="food">
                                <img src="../../assets/images/foods/momo/types/jhol momo.jpg" alt="">
                                <div class="food-detail">
                                    <h3>Jhol Momo</h3>
                                    <p>Rs 190/-</p>
                                    <a href="#" class="button">Add to cart</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="show-food">
                        <div class="main-food">
                            <img src="../../assets/images/foods/pizza/1.jpeg" alt="">
                            <h4>Pizza</h4>
                        </div>
                    </div>
                 </div>
                
                </div>
            <div class="cart">
                    <div class="cart-items">
                        <div class="company">
                            <img src="../../assets/images/Catogories/c1.jpg" alt="#" class="c-logo">
                            <p class="c-name">Food tree <span>Lazimpat, Kathmandu, Nepal</span></p>
                        </div>
                        <hr>
                        <div class="Bill">
                            <div class="order-items">
                                <div class="i-name">
                                    Mo:MO
                                    <div class="o-option">
                                        <a href="#" class="add-item">Add note</a>
                                        <a href="#">remove</a>
                                    </div>

                                    <div class="additional hide">
                                        <input type="text" name="add-items" class="add-items">
                                        <i class="close">x</i>
                                    </div>
                                </div>
                                <div class="counter">
                                    <button class="sub" value="minus" >-</button>
                                    <span class="num" >1</span>
                                    <button class="add" value="increase"  onclick="addAmount()">+</button>
                                </div>
                                <p class="total"> Rs 300/-</p>
                            </div>
                            

                            <hr>
                        </div>
                        <div class="grand-total">
                            <div class="sub-total">
                                <div class="total">
                                    <h3>Total</h3>
                                    <p>Rs 300/-</p>
                                </div>
                                <div class="Discount">
                                    <h3>Discount (10%)</h3>
                                    <p>Rs 30/-</p>
                                </div>
                                <div class="Cherge">
                                    <h3>Service (15%)</h3>
                                    <p>Rs 40/-</p>
                                </div>
                            </div>
                            <hr>
                            <div class="g-total">
                                <h3>Grand total</h3>
                                <p>Rs 370/-</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="coupon">
                            <h3>Enter your coupon Number</h3>
                            <input type="text" name="coupon" id="coupon">
                    </div>
                    <div class="text-note">
                            <h3>Delivery Note here</h3>
                            <textarea name="note" id="note" cols="30" rows="2"></textarea>
                    </div>
                <button class="btn">Go to Checkout</button>
            </div>
         </div>
     </section>

     
     <script src="./menu.js"></script>
</body>
</html>