<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        OUR Menu
    </title>

    <!-- css -->
    <link rel="stylesheet" href="./menu.css">

    <!-- favicon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <!-- <img src="" alt=""> -->
                <h3>R<span>Tree</span></h3>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">About us</a></li>
            </ul>

            <ul class="users">
                <li><a href="#" class="login" id="show-login">Login</a></li>
                <li><a href="#" class="register">Register</a></li>
                <li><a href="#"><i><i class="fas fa-shopping-cart"><span>1</span></i></i></a></li>
            </ul>

            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <!-- navigation ends here -->

        <!-- banner starts here -->

        <div class="banner">
            <div class="content-text">
                <h1>We Deliver Best food directly <span>from our kitchen</span></h1>
            </div>
        </div>
        <!-- banner ends here -->
    </header>
    
    <!-- header ends here -->

    <!-- main starts here -->
    <main>
        <section class="filter">
            <div class="filter-categories">
                <div class="food-menu">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li  data-filter=".nepali">Nepali</li>
                        <li  data-filter=".indian">Indian</li>
                        <li  data-filter=".chinese">Chinese</li>
                        <li  data-filter=".nepali">Nepali</li>
                        <li  data-filter=".indian">Indian</li>
                        <li  data-filter=".chinese">Chinese</li>
                        <li  data-filter=".nepali">Nepali</li>
                        <li  data-filter=".indian">Indian</li>
                        <li  data-filter=".chinese">Chinese</li>
                        <li  data-filter=".nepali">Nepali</li>
                        <li  data-filter=".indian">Indian</li>
                        <li  data-filter=".chinese">Chinese</li>
                    </ul>
                </div>
                <div class="categories-section">
                    <div class="food-column-container">
                        <div class="card-container">
                            <div class="card nepali">
                                <div class="card-img">
                                    <a href="#">
                                        <img src="../../assets/images/offer/o1.jpeg"alt="">
                                    </a>
                                </div>
                                <div class="card-details">
                                    <div class="food-details">
                                        <h1 class="blog-title">
                                            momo
                                        </h1>
                                    </div>   
                                         <div class="f-button">
                                                <a href="#">Add to cart</a>

                                                <p>Rs190/-</p>
                                        </div>
                                </div>
                            </div>
                            <div class="card nepali">
                                <div class="card-img">
                                    <a href="#">
                                        <img src="../../assets/images/offer/o1.jpeg"alt="">
                                    </a>
                                </div>
                                <div class="card-details">
                                    <div class="food-details">
                                        <h1 class="blog-title">
                                            momo
                                        </h1>
                                    </div>   
                                         <div class="f-button">
                                                <a href="#">Add to cart</a>

                                                <p>Rs190/-</p>
                                        </div>
                                </div>
                            </div>
                            <div class="card nepali">
                                <div class="card-img">
                                    <a href="#">
                                        <img src="../../assets/images/offer/o1.jpeg"alt="">
                                    </a>
                                </div>
                                <div class="card-details">
                                    <div class="food-details">
                                        <h1 class="blog-title">
                                            momo
                                        </h1>
                                    </div>   
                                         <div class="f-button">
                                                <a href="#">Add to cart</a>

                                                <p>Rs190/-</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="cart-column-container">
        
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    
    <script src="./menu.js"></script>
</body>
</html>