<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>

    <!-- Custom css -->
    <link rel="stylesheet" href="./card.css">

    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-img">
                <img src="../../assets/images/offer/o1.jpeg" alt="food">
            </div>
            <div class="card-detail">
                <div class="blog-details">
                    <h1 class="blog-title">
                        Food Name
                    </h1>

                    <p class="f-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        usto, voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        usto, voluptates.
                    </p>
                    <blog class="f-btns">
                        <p class="price">Rs 193/-</p>

                        <button class="buy"><i class="fas fa-shopping-cart">  Add</i></button>
                    </blog>
                </div>
            </div>
        </div>
    </div>

</body>
</html>