<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food card</title>

    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css -->
    <link rel="stylesheet" href="./card1.css">
</head>
<body>
    <div class="container">
        <div class="card-container">
            <div class="card">
                <div class="card-img">
                    <a href="#">
                        <img src="../../assets/images/offer/o1.jpeg"alt="">
                    </a>
                </div>
                <div class="card-details">
                    <div class="food-details">
                        <h1 class="blog-title">
                            american chosy
                        </h1>
                    </div>   
                         <div class="f-button">
                                <p>Rs190/-</p>
                                <a href="#">Add to cart</a>
                        </div>
                </div>
            </div>
        </div>
    </div>   
</body>
  
</script>
</html>